.cardsquatre {
 	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	margin: auto;
	margin-top: 70px;
}

.quatre1 {

 	align-items: center;
 	justify-content: space-between;
	padding: 20px; 
	box-shadow: 0px 10px 30px rgba(233,226,233, 1);
	flex-grow: 1;
	margin: 10px;
	border-radius: 6px;
	flex-wrap: wrap;
}

.quatre2 {

 	align-items: center;
 	justify-content: space-between;
	padding: 20px; 
	box-shadow: 0px 10px 30px rgba(233,226,233, 1);
	flex-grow: 1;
	margin: 10px;
	border-radius: 6px;
	flex-wrap: wrap;
}

#compling{
	width: 127px;
	margin-right: 10px;
	float:right;
}

/*quatre2 p{
	margin-top: 70px;
}